.gallery {
    width: 100%;
    height: 170px;
}

.tubebox {
    text-align: center;
}

.tubebox a {
    text-decoration: none;
    color: white
}

.tubebox a:hover {
    text-decoration: none;
    color: #efa923;
}

.news_date {
    float: right;
}

#com_news_lst li a {
    color: slategray;
}

#com_news_lst li a:hover {
    text-decoration: none;
    color: #efa923;
}

#ind_news_lst li a {
    color: slategray;
}

#ind_news_lst li a:hover {
    text-decoration: none;
    color: #efa923;
}

#contact_table tr td {
    width: 20%;
}