@charset "utf-8";
body {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑", "宋体", serif;
    font-size: 13px;
    color: #cccccc;
    background: url(../images/bg01.jpg) repeat;
    background-size:cover;
}

.cls {
    clear: both;
}

a:focus {
    outline: none;
}

.top1 {
    /*background: url(../images/index/top_bg.jpg) repeat-x;*/
    background: ghostwhite;
    height: 100px;
    width: 1080px;
    margin: 0 auto;
}

.top2 {
    width: 1080px;
    margin: 0 auto;
    position: relative;
}

.top2 h1 {
    position: absolute;
    top: 16px;
}

.searchform {
    float: right;
    position: absolute;
    top: 48px;
    right: 30px;
    border: 1px solid cornflowerblue;
    border-radius: 16px;
    background-color: white;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
}

.searchbox {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.menu {
    height: 40px;
    display: block;
    padding: 0;
    width: 1080px;
    margin: 0 auto 0 auto;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.menu ul li {
    float: left;
    overflow: hidden;
    position: relative;
    line-height: 40px;
    text-align: center;
    width:120px;
}

.menu ul li a {
    position: relative;
    display: block;
    width: 120px;
    height: 40px;
    font-family: "微软雅黑", "宋体", serif;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    line-height: 40px;
}

.menu ul li a span {
    position: absolute;
    left: 0;
    width: 120px;
}

.menu ul li a span.out {
    top: 0;
}

.menu ul li a span.over, .menu ul li a span.bg {
    top: -40px;
}

#menu_nav {
    /*background: url(../images/index/s_03.jpg) repeat;*/
    background-color: silver;
}

#menu_nav ul li a {
    color: #FFFFFF;
}

#menu_nav ul li a span.over {
    color: #FFF;
    height: 40px;
    width: 120px;
    /*background: url(../images/index/w_03.jpg) repeat;*/
    background-color: cornflowerblue;
}

.slideshow {
    width: 1080px;
    padding: 0;
    margin: 6px auto;
}
